
<div class="jumbotron text-center">
    <h1>Home Page</h1>

    <a href="/events" class="btn btn-lg btn-danger">All Issues</a>
</div>

<section  class="our-webcoderskull padding-lg ">
<div class="container">
  <div class="row heading heading-icon">
      <h2>Our Team</h2>
  </div>
  <ul class="row">
    <li class="col-12 col-md-6 col-lg-3">
        <div class="cnt-block equal-hight" style="height: 349px;">
          <figure><img src="images/Praveen (3).jpg" class="img-responsive" alt=""></figure>
          <h3><a href="">Praveen Banoth</a></h3>
          <p></p>

        </div>
    </li>
    <li class="col-12 col-md-6 col-lg-3">
        <div class="cnt-block equal-hight" style="height: 349px;">
          <figure><img src="" class="img-responsive" alt=""></figure>
          <h3><a href="#"> Laxman </a></h3>
          <p>FMW Admin</p>
         
        </div>
    </li>
    <li class="col-12 col-md-6 col-lg-3">
        <div class="cnt-block equal-hight" style="height: 349px;">
          <figure><img src="" class="img-responsive" alt=""></figure>
          <h3><a href=""> Raju </a></h3>
          <p>FMW Admin</p>
          
        </div>
     </li>
    <li class="col-12 col-md-6 col-lg-3">
        <div class="cnt-block equal-hight" style="height: 349px;">
          <figure><img src="" class="img-responsive" alt=""></figure>
          <h3><a href=""> Neha </a></h3>
          <p>FMW Admin</p>
          
        </div>
    </li>
  </ul>
  <ul class="row">
    <li class="col-12 col-md-6 col-lg-3">
        <div class="cnt-block equal-hight" style="height: 349px;">
          <figure><img src="" class="img-responsive" alt=""></figure>
          <h3><a href="">Shravan</a></h3>
          <p>FMW Admin</p>
          
        </div>
    </li>
    <li class="col-12 col-md-6 col-lg-3">
        <div class="cnt-block equal-hight" style="height: 349px;">
          <figure><img src="" class="img-responsive" alt=""></figure>
          <h3><a href="#"> Rajesh </a></h3>
          <p>FMW Admin</p>
          
        </div>
    </li>
    <li class="col-12 col-md-6 col-lg-3">
        <div class="cnt-block equal-hight" style="height: 349px;">
          <figure><img src="" class="img-responsive" alt=""></figure>
          <h3><a href=""> Yousuf </a></h3>
          <p>FMW Admin</p>
          
        </div>
     </li>
    <li class="col-12 col-md-6 col-lg-3">
        <div class="cnt-block equal-hight" style="height: 349px;">
          <figure><img src="" class="img-responsive" alt=""></figure>
          <h3><a href=""> Althaf </a></h3>
          <p>FMW Admin</p>
          
        </div>
    </li>
  </ul>
</div>
</section>



